:root {
  --main-brown: #2b1d0e;
  --main-yellow: #f1d248;
  --main-orange: #f47b01;
  --main-red: #dd2a00;
  --main-teal: #7cedda;
  --main-cream: #fffbf1
}

html {
  background-color: var(--main-brown);
}

body {
    color: var(--main-cream);
}

a {
  color: var(--main-teal)
}

h1 {
  color: var(--main-orange)
}

h2 {
  color: var(--main-yellow);
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bio {
  margin-bottom: 0;
}

.twitter {
  color: var(--main-yellow)
}

.date {
  color: var(--main-yellow);
}
.footer {
  color: var(--main-cream);
}
