@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);
@import './fonts/dank-mono.css';

code { font-family: 'Fira Code', monospace; }

@supports (font-variation-settings: normal) {
  code { font-family: 'Fira Code VF', monospace; }
}

:root {
  --main-brown: #2b1d0e;
  --main-yellow: #f1d248;
  --main-orange: #fe8c1b;
  --main-red: #fb4f28;
  --main-teal: #8ff0e0;
  --main-cream: #fffbf1
}

html {
  background-color: var(--main-brown);
}

body {
    color: var(--main-cream);
}

a {
  color: var(--main-teal);
  transition: 0.25s
}

h1 {
  color: var(--main-orange);
}

h2 {
  color: var(--main-yellow);
}

h3 {
  color: var(--main-red)
}

ul {
  margin-left: 1rem;
}

.title {
  font-size: 4rem;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container a {
  box-shadow: none !important;
  transition: 0.5s;
  margin-top: 8px;
}

.img-container a:hover {
  box-shadow: none !important;
  transform: scale(1.1);
}

.bio {
  margin-bottom: 0;
}

.bio a {
  color: var(--main-yellow)
}

.date {
  color: var(--main-red);
}

.code {
  border: 3px solid var(--main-cream);
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.code pre {
  margin-bottom: 0;
  font-family: 'dm', monospace;
  font-size: 1rem;
  line-height: 1.5rem;
}

.footer {
  color: var(--main-cream);
  display: flex;
  justify-content: space-between;
}

.social {
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.social a {
  color: var(--main-yellow);
}

.social a:hover {
  text-decoration: none !important;
  color: var(--main-red);
}

.tooltip {
	border-radius: 10px;
	padding: 5px 10px;
	position: relative;
  text-align: center;
}

.tooltip::after {
	background-color: var(--main-cream);
	border-radius: 10px;
	color: var(--main-brown);
	display: none;
	padding: 5px 10px;
	position: absolute;
	text-align: center;
  z-index: 999;
  font-size: 0.75rem;
  transition: display 1s, opacity 0.5s linear;
}

.tooltip::before {
	background-color: var(--main-cream);
	content: ' ';
	display: none;
	position: absolute;
	width: 15px;
	height: 15px;
  z-index: 999;
}

.tooltip:hover::after {
  display: block;
}

.tooltip:hover::before {
	display: block;
}

.tooltip.top::after {
	top: 0;
	left: 50%;
	transform: translate(-50%, calc(-100% - 10px));
}

.tooltip.top::before {
	top: 0;
	left: 50%;
	transform: translate(-50%, calc(-100% - 5px)) rotate(45deg);
}

.tooltip.top.twitter::after {
  content: 'Twitter';
}

.tooltip.top.github::after {
  content: 'GitHub';
}

.tooltip.top.linkedin::after {
  content: 'LinkedIn';
}

.tooltip.top.sourcecode::after {
  content: 'Code';
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 2.5rem;
  }
}
