@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);
@import './fonts/dank-mono.css';

code { font-family: 'Fira Code', monospace; }

@supports (font-variation-settings: normal) {
  code { font-family: 'Fira Code VF', monospace; }
}

:root {
  --main-brown: #2b1d0e;
  --main-yellow: #f1d248;
  --main-orange: #fe8c1b;
  --main-red: #fb4f28;
  --main-teal: #8ff0e0;
  --main-cream: #fffbf1
}

html {
  background-color: var(--main-brown);
}

body {
    color: var(--main-cream);
}

a {
  color: var(--main-teal)
}

h1 {
  color: var(--main-orange)
}

h2 {
  color: var(--main-yellow);
}

h3 {
  color: var(--main-red)
}

ul {
  margin-left: 1rem;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bio {
  margin-bottom: 0;
}

.twitter {
  color: var(--main-yellow)
}

.date {
  color: var(--main-red);
}

.code {
  border: 3px solid var(--main-cream);
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.code pre {
  margin-bottom: 0;
  font-family: 'dm', monospace;
  font-size: 1rem;
  line-height: 1.5rem;
}

.footer {
  color: var(--main-cream);
}
